In [261]:
import pandas as pd 
import re

In [204]:
# open file to loop by line item and retrieve the count of butterflies. 
file1 = open('inference_log.txt', 'r')
count = []
df = pd.DataFrame(columns=['key'])
  
for line in file1:
    start = line.index('384x640')+7 # 7 = len('384x640')
    line = line[start+1:] 
    end = line.index('ms')-7
    line = line[:end]
    count.append(line)

file1.close()

In [205]:
df = pd.DataFrame(count, columns= ['count'])

In [294]:
#change lines with (no detections) to zero 
df[df['count']== '(no detections)'] = 0

In [292]:
#erase all the description info besides the numerical digits which is the butterfly count 
result = list() 
for i,j in df.iterrows():
    result.append(re.sub("[^0-9]", "", j[0]))
df['num'] = result

In [303]:
#change num column to numeric data type 
df['num'] =df['num'].astype(int)

In [305]:
df.rename(columns={'count':'description'}, inplace=True )

In [365]:
df = pd.read_csv('upload.csv')

In [366]:
df.value_counts()#.sum()

count
1        826
2        749
3        190
4        161
5         84
0         72
6         33
7         12
8          1
dtype: int64

In [367]:
#output file 
df.to_csv('count_by_frame.csv', index= False)

In [368]:
df

      count
0         5
1         5
2         5
3         4
4         6
...     ...
2123      0
2124      0
2125      0
2126      0
2127      0

[2128 rows x 1 columns]